form {
  padding-top: 20px;
  padding-bottom: 20px;
  /* Arrange fields in 1 column */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Bold the question */
.new-tweet label {
  font-weight: bold;
}
/* Set font and arrange the button and the counter number in 1 row */
.new-tweet div {
  font-family: "Bungee", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Style the button */
.new-tweet button {
  align-self: flex-start;
  background-color: #4056a1;
  color: #ffffff;
}
/* Style the text area */
.new-tweet textarea {
  background-color: transparent;
  border-style: none;
  border-bottom: solid;
  border-width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
}

/* Hide the text "Compose Tweet" */
.new-tweet h2 {
  display: none;
}

/* Set font colors of the counter: black and red */
.counter-red {
  color: red;
}
.counter-black {
  color: black;
}

/* Set font, color, and hide the error messages by default */
#error {
  display: none;
  color: red;
  font-family: "Source Sans Pro", sans-serif;
}
